muledemo/src/main/app/ftpdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <file:file-to-string-transformer name="File_to_String" doc:name="File to String"/>
    <mulexml:dom-to-xml-transformer name="DOM_to_XML" doc:name="DOM to XML"/>
    <file:file-to-byte-array-transformer name="File_to_Byte_Array" doc:name="File to Byte Array"/>
    <flow name="ftpdemoFlow">
        <file:inbound-endpoint path="C:\Users\ishaangvst\Documents\MuleDocs\TestFolder" responseTimeout="10000" doc:name="File"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <file:outbound-endpoint path="C:\Users\ishaangvst\Documents\MuleDocs\Out" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
